<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Cryptocurrency dashboard</title>
  <meta name="description" content="A customizable dashboard built on top of CryptoCompare API.">
</head>
<body>
  <div id="app"></div>
</body>
</html>
